[Unit]
Description=Counter Cat
After=network.target

[Service]
Type=simple
User=saenns
ExecStart=/home/saenns/counter-cat/bin/countercat.sh
Restart=on-failure
# Other restart options: always, on-abort, etc
# RestartSec=10s

[Install]
WantedBy=multi-user.target

